$mainColor: linear-gradient(154deg, #343a40 80%, #00fffd 100%);

$backgroundColor: linear-gradient(89deg, #343a40 0%, #00fffd 100%);
$textColor:#d3d3d3;
$fontSize:1.1em;
$darkGreen:#00fffa26;

#card {
  padding-top: 60px;
  //padding-left: 1px;
  //padding-right: 5px;
  //margin-left: 5px;

}

#movie-card {
  border-radius: 5px;
  //box-shadow: 5px 20px 50px #000;
  background: $mainColor;
  color: $textColor;
  //cursor: pointer;

}

/*#card-body {
  border-bottom: 1px solid $darkGreen;
}*/

#movieView-image {
  justify-content: center;
  display: flex;
  text-align: center;
  //height: 300px;
  box-shadow: 5px 20px 50px #000;
  //width: 25%;
}

#card-title {
  background: #00fffa26;
  color: #00fffd;
  margin-top: 5px;
  //font-size: 2.3em;
  justify-content: center;
  display: flex;
  padding: 20px;
  border-bottom: 1px solid black;
  border-radius: 5px;
  //font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#card-text {
  height: 155px;
  border-bottom: 1px solid $darkGreen;
}

#card-button {
  width: 99%;
  font-size: 20px;
}