$mainColor: linear-gradient(89deg, #343a40 65%, #00fffd 100%);

$backgroundColor: linear-gradient(89deg, #343a40 0%, #00fffd 100%);

.container {
  margin-top: 50px;
  margin-bottom: 25px;

}

.col {
  padding-top: 0px;
}

.mainContainer {
  margin-top: 50px;
  margin-bottom: 25px;

}

.logOutButton {
  margin-top: 50px;
  margin-bottom: 0px;
}