$mainColor: linear-gradient(89deg, #0061f2 50%, rgb(0 255 161 / 99%) 100%);

$backgroundColor: linear-gradient(89deg, #0061f2 0%, rgb(0 255 161 / 99%) 100%);

.container {
  margin-top: 50px;
  margin-bottom: 25px;

}

.col {
  padding-top: 0px;
}

.mainContainer {
  margin-top: 50px;
  margin-bottom: 25px;

}