$color: linear-gradient(89deg, #343a40 0%, #00cfce 100%);
$FooterColor: linear-gradient(89deg, #00fffd 0%, #343a40);
$background: #1C1B1B;
$primary: #DF611C;
$secondary: #00918C;
$text: #F5F5F5;
$muted-text: #A6A6A6;
$font: 'Ropa Sans',
sans-serif;

* {
  color: $text;
  font-family: $font;
  font-size: 20px;
}

body {
  min-height: 100vh;
  min-width: 100%;
  background: $color;
  display: flex;
  flex-direction: column;

}



.footer {
  height: 10px;
  background: $FooterColor;
  padding: 3em;
  margin-top: auto;
}