$mainColor: linear-gradient(89deg, #343a40 65%, #00fffd 100%);

$backgroundColor: linear-gradient(89deg, #343a40 0%, #00fffd 100%);

#navbar {
  background: $mainColor;
}

#navbar-container {
  margin: 0;
}

#navbar-brand {
  font-size: 50px;
  font-weight: 600;
  color: #d3d3d3;
}

#navSpan {
  color: #00fffd;
}



#navLink {
  font-size: 20px;
  font-weight: 600;
  color: #00fffd;
  padding-top: 15px;
  padding-left: 249px;
}