$mainColor: linear-gradient(89deg, #343a40 65%, #00fffd 100%);

$backgroundColor: linear-gradient(89deg, #343a40 0%, #00fffd 100%);


:root {
  --fontsize-navbar-brand: 30px;
  --fontsize-navbar-link: 20px;
  --fontweight-navbar-brand: 900;
  --fontweight-navbar-link: 600;
}

* {
  box-sizing: border-box;

}

#navbar {
  background: $mainColor;
}

#navbar-container {
  margin: 0;
}

#navbar-brand {
  font-size: 50px;
  font-weight: 600;
  color: #d3d3d3;
}

span {
  color: #00fffd;
}



#nav-link {

  font-size: 20px;
  font-weight: 600;
  color: #00fffd;
  padding-top: 15px;
}